<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">
<beans>
    <description>Spring配置入口</description>


    <!-- 数据库CONFIG -->

    <import resource="dbconfig.xml" />
    <!-- 数据库CONFIGEND -->

    <!-- assgDao -->
    <import resource="master.xml" />
    <!-- assgDaoEND -->

</beans>